body {font-family:sans-serif; background-color:dimgrey;}

div.test-wrapper {width:320px;}

div.bottom-container {
  display:flex;
  flex-direction:column;
  }

div.control-container {
  margin-top: 8px;
  padding-bottom: 8px; }
  div.play-btn-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  div.control-container div.amplitude-play-pause {
    width: 84px;
    height: 84px;
    cursor: pointer;
    margin: auto; }
  div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url("https://uploads-ssl.webflow.com/5f36a3893683d8d80fedbd92/5f99493ae4e815c27a540950_play%20btn.svg");
    background-size: cover; }
  div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url("https://uploads-ssl.webflow.com/5f36a3893683d8d80fedbd92/5f9949398ea7489cff767031_pause%20btn.svg");
    background-size: cover; }
  div.control-container div.meta-container {
    text-align: left;
    color: #1C2F39;
    margin-top: 8px; }
    div.control-container div.meta-container span[data-amplitude-song-info="name"] {
      font-size: 18px;
      display: block; }
    div.control-container div.meta-container a[data-amplitude-song-info="artist"] {
      font-weight:600;
      font-size: 18px;
      display: block; }

div.time-container {
  display: flex;
  align-items: baseline;
  padding-top: 8px;}
  div.time-container span.current-time {
    padding-right: 8px; }
  div.time-container span.duration {
    padding-left: 8px; }

progress.amplitude-song-played-progress {
  margin-top: 8px;
  background-color: #313252;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  display: block;
  cursor: pointer;
  border: none; }
  progress.amplitude-song-played-progress:not([value]) {
    background-color: #313252; }
  progress[value]::-webkit-progress-bar {
    background-color: #313252; }
  progress[value]::-moz-progress-bar {
    background-color: #F8A588; }
  progress[value]::-webkit-progress-value {
    background-color: #F8A588; }

div#single-song-player {
  background-color: #EDF1F2;
  border: 3px solid #1C2F39;
  border-bottom: 8px solid #1C2F39;
  border-left: 8px solid #1C2F39;
  padding:16px;
  width: 100%;
  -webkit-font-smoothing: antialiased; }
  div#single-song-player img[data-amplitude-song-info="cover_art_url"] {
    width: 100%;   }